<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/myStyles.css">
	</head>



	<body>
		<div class="container">

			<div class="boxes">

				<div class="greeting-left">
					<img src="/stylesheets/logomountain.jpeg" alt="logo">
					<h2>Born Every Minute</h2>
					<h1>Coming Soon!</h1>
					<p>This is going to be the most amazing this you've ever seen. Really.</p>
					<p>Give us your deets and we'll let you in on the ground floor..</p>
				</div>

				<div class="logo-right">
				</div> 
			</div>	

				<div class="form_container">
					<form>
					</form>
				</div>
		</div>
	</body>

</html>