<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/myStyles.css">
  </head>
  <body>
    <div class="container">
      <div class="boxes">
        <div class="greeting-left">
          <h2>Born Every Minute</h2>
          <h1>Thanks!</h1>
          <p><%= @sucker %></p>
          <p>We'll let you know about this amazing, incredible opportunity just as soon as possible!</p>
        </div>
        <div class="logo-right">
          <img src="/images/logomountain.jpeg">
        </div>
      </div>  

    </div>
  </body>
</html>