.container {
	background-color: #F5F5DC
}

h2 {
	font-style: italic;
	font-family: sans-serif;
}

h1 {
	font-family: sans-serif;
}

p {
	font-family: sans-serif;
}

.boxes {
  display: inline-block;
  width: 360px;
  height: 360px;
}

.logo-right {
	float: right;
}

.greeting-left {
	float: left;
}

